    <div class="row">
        <div class="col-sm-4">
            <div class="preview-panel">
                <a href="assets/bd.mp4">
                    <img src="assets/22.jpg">
                </a>
                Happy 22nd birthday NyiMaLay!!!
           </div>
        </div>


    
        <div class="col-sm-4">
            <div class="preview-panel">
                <a href="assets/2month.mp4">
                    <img src="assets/2month.png">
                </a>
                2 month anniversary has passed together. 
           </div>
        </div>


    
        <div class="col-sm-4">
            <div class="preview-panel">
                <a href="/assets/ashita_ga_aru.mp4">
                    <img src="assets/ashita_ga_aru.png">
                </a>
                明日がある？
           </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="preview-panel">
                <a href="/gallery.html">
                    <img src="assets/photo_gallery/Knv3NJneRqOP36Jr2UNw4Q_thumb_ad.jpg">
                </a>
                Photo Gallery
           </div>
        </div>
    </div>